<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Akka system logs — on garde que WARN pour pas noyer les nôtres -->
  <logger name="akka" level="WARN" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <!-- Nos acteurs — on veut tout voir -->
  <logger name="securebank" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
